{% load static %}
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <a href="{% url 'archivos:portada_gestor_renpe' %}" class="brand-link">
        <img src="{% static 'img/logoEstMini.png' %}"
             alt="Estadística Educativa"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Estadística Educativa</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ request.user.get_image }}" class="img-circle" alt="Usuario">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.user.username }}</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Mantenimientos</li>
                
                <li class="nav-item">
                    <a href="{% url 'archivos:portada_gestor_renpe' %}" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Inicio
                        </p>
                    </a>
                </li>                                    
                
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-chart-line" style="color:violet"></i>
                        <p>
                            Monitoreo
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>                    
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'consultas_api:monitoreo_consultas_renpe' %}" class="nav-link">
                                <i class="fas fa-book"></i>
                                <p>Consultas ReNPe</p>
                            </a>
                        </li>
                    </ul>
                </li>
                
                </li> 
            </ul>
        </nav>
    </div>
</aside>
