# Archivos temporales
*.pyc
__pycache__/

# Base de datos local
db.sqlite3

# Carpeta de archivos subidos por usuarios
media/

# Carpeta de archivos estáticos compilados
staticfiles/

.ipython/

.env

#Con esta linea se ignoran los archivos de producción que no deben subirse al repositorio
productionfiles/*
