{% extends "dashboard/bodygestor.html" %}

{% block content %}

<div class="container">

    <div class="card shadow">

        <div class="card-header">
            Buscar Supervisor
        </div>

        <div class="card-body">

            <form method="post">

                {% csrf_token %}

                {{ form.as_p }}

                <button
                    type="submit"
                    class="btn btn-primary">

                    Buscar

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}