{% extends 'dashboard/body.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>

<div id="map" style="height: 600px;"></div>

<script>
    // Inicializa el mapa
    var map = L.map('map').setView([-25.388415775410138, -60.99025493373542], 8);

    // Capa de OpenStreetMap
    var osmLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap'
    }).addTo(map);

    // Capa satelital de Esri
    var esriSatelliteLayer = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        maxZoom: 19,
        attribution: '© Esri'
    });

    // Crear un pane para los círculos
    map.createPane('markerPane');
    map.getPane('markerPane').style.zIndex = 650;

    // Datos de geometrías en formato GeoJSON desde Django
    var geometries = {{ geometries|safe }};

    // Función para asignar un color basado en la región
    function getColor(region) {
        switch (region) {
            case 'R.E. 1': return 'red'; 
            case 'SUB. R.E. 1-A': return 'orange';
            case 'SUB. R.E. 1-B': return 'brown';
            case 'R.E. 2': return 'green'; 
            case 'SUB. R.E. 2': return 'olive';
            case 'R.E. 3': return 'blue'; 
            case 'SUB. R.E. 3': return 'white';
            case 'R.E. 4-A': return 'fuchsia'; 
            case 'R.E. 4-B': return 'yellow'; 
            case 'R.E. 5': return 'aqua';
            case 'SUB. R.E. 5': return 'purple';
            case 'R.E. 6': return 'teal';
            case 'R.E. 7': return 'navy';
            case 'R.E. 8-A': return 'maroon';
            case 'R.E. 8-B': return '#9BE40B';
            case 'R.E. 9': return 'chocolate';
            case 'R.E. 10-A': return 'bittersweet';
            case 'R.E. 10-B': return 'ruby';
            case 'R.E. 10-C': return 'red';
            default: return 'grey';
        }
    }

    // Añadir las geometrías al mapa utilizando el GeoJSON
    L.geoJSON(geometries, {
        style: function(feature) {
            return { color: getColor(feature.properties.region_pad) };
        },
        onEachFeature: function(feature, layer) {
            var regionPad = feature.properties.region_pad || 'No disponible';
            var titulo = feature.properties.TITULO || 'No disponible';
            layer.bindPopup("Región: " + regionPad + "<br>Título: " + titulo);

            // Obtener el centro de la geometría
            var center = layer.getBounds().getCenter();

            // Crear un círculo negro con el nombre de la región
            L.circleMarker(center, {
                radius: 15,
                fillColor: 'black',
                color: 'black',
                weight: 1,
                fillOpacity: 1,
                opacity: 1,
                pane: 'markerPane' // Asegúrate de que se use el pane correcto
            }).addTo(map).bindTooltip(regionPad, {
                permanent: true,
                direction: 'center'
            }).openTooltip(); // Abrir tooltip inmediatamente
        }
    }).addTo(map);

    // Control de capas
    var baseLayers = {
        "Mapa": osmLayer,
        "Satélite": esriSatelliteLayer
    };

    L.control.layers(baseLayers).addTo(map);
    esriSatelliteLayer.addTo(map); // Asegúrate de que se añada la capa satelital
</script>

{% endblock %}
