{% extends 'biblioteca/layout.html' %}
{% load widget_tweaks %}
{% block head %}    
{% endblock %}
{% block content %}
    <form method="post" action="." enctype="multipart/form-data">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                        <i class="fas fa-plus"></i>
                    {% else %}
                        <i class="fas fa-edit"></i>
                    {% endif %}
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">

                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <!-- Botón para mostrar el popup en la fila superior -->
                <div class="form-group row">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-info" id="showPopupBtn">
                            <i class="fas fa-info-circle"></i> Información 
                        </button>
                    </div>
                </div>

                <!-- Campo CUE Anexo (Solo lectura) -->
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="id_cueanexo">CUE Anexo:</label>
                        <input type="text" id="id_cueanexo" name="cueanexo" class="form-control" value="{{ cueanexo }}" readonly>
                    </div>
                        <div class="col-md-4">
                        <label for="id_mes">Mes:</label>
                        {{ form.mes|add_class:"form-control" }}
                    </div>
                    <div class="col-md-4">
                        <label for="id_anio">Año:</label>
                        {{ form.anio|add_class:"form-control" }}
                    </div>                    
                </div>                

                <!-- Segunda fila -->
                <div class="row mt-4">
                    <div class="col-md-4">
                        <label for="id_tdoc">Tipo Doc:</label>
                        {{ form.t_doc|add_class:"form-control" }}
                    </div>
                    <div class="col-md-4">
                        <label for="id_ndoc">Doc N°:</label>
                        {{ form.n_doc|add_class:"form-control text-right" }}
                    </div>
                    <div class="col-md-4">
                        <label for="id_cuil">Cuil:</label>
                        {{ form.cuil|add_class:"form-control text-right" }}
                    </div>                    
                </div>      
                <!-- Tercera fila -->
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="id_apellidos">Apellidos:</label>
                        {{ form.apellidos|add_class:"form-control" }}
                    </div>
                    <div class="col-md-3">
                        <label for="id_nombres">Nombres:</label>
                        {{ form.nombres|add_class:"form-control" }}
                    </div>
                    <div class="col-md-3">
                        <label for="id_fnac">Fecha Nacimiento:</label>
                        {{ form.f_nac|add_class:"form-control text-right" }}
                    </div>   
                    <div class="col-md-3">
                        <label for="id_cargo">Cargo:</label>
                        {{ form.cargo|add_class:"form-control" }}
                    </div>                 
                </div>                        
                <!-- Cuarta fila -->
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="id_sitrevista">Situación Revista:</label>
                        {{ form.situacion_revista|add_class:"form-control" }}
                    </div>
                    <div class="col-md-3">
                        <label for="id_fingreso">Fecha Ingreso:</label>
                        {{ form.f_ingreso|add_class:"form-control text-right" }}
                    </div>
                    <div class="col-md-3">
                        <label for="id_fhasta">Fecha Hasta:</label>
                        {{ form.f_hasta|add_class:"form-control text-right" }}
                    </div>   
                    <div class="col-md-3">
                        <label for="id_turno">Turno:</label>
                        {{ form.turno|add_class:"form-control" }}
                    </div>                 
                </div>  
                <!-- Quinta fila -->
                <div class="row mt-2">
                    <div class="col-md-2">
                        <label for="id_cuof">Cuof:</label>
                        {{ form.cuof|add_class:"form-control" }}
                    </div>
                    <div class="col-md-2">
                        <label for="id_cuofanexo">Cuof Anexo:</label>
                        {{ form.cuof_anexo|add_class:"form-control text-right" }}
                    </div>
                               
                </div> 
                <!-- Sexta fila -->
                <div class="row mt-4">
                    <div class="col-md-4">
                        <label for="id_licencias">Licencias:</label>
                        {{ form.licencia_permiso|add_class:"form-control" }}
                    </div>
                    <div class="col-md-4">
                        <label for="id_fdesdelic">Fecha desde:</label>
                        {{ form.f_desde_lic|add_class:"form-control text-right" }}
                    </div>
                    <div class="col-md-4">
                        <label for="id_fhastalic">Fecha hasta:</label>
                        {{ form.f_hasta_lic|add_class:"form-control text-right" }}
                    </div>                           
                </div>   
                <!-- Séptima fila -->
                <div class="row mt-6">
                    <div class="col-md-6">
                        <label for="id_observaciones">Observaciones:</label>
                        {{ form.observaciones|add_class:"form-control" }}
                    </div>
                    <div class="col-md-6">
                        <label for="id_situacionlaboral">Situación Laboral:</label>
                        {{ form.situacion_laboral|add_class:"form-control" }}
                    </div>                                             
                </div>   
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fas fa-save"></i> Guardar registro
                </button>
                <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>

    <script>
        // Mostrar alerta con errores si existen
        {% if form.errors %}
            var errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                errors += '{{ error }}\n';
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
            });
        {% endif %}

        // Manejo de envío con AJAX
        $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = new FormData(this);
            submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de realizar la siguiente acción?', parameters, function () {
                location.href = '{{ list_url }}';
            });
        });
        

        // Asignar valor al campo cueanexo (si es necesario)
        document.getElementById("id_cueanexo").value = "{{ cueanexo }}";
        document.getElementById("id_mes").value = "{{ mes }}";
        document.getElementById("id_anio").value = "{{ anno }}";

        // Mostrar el popup con las traducciones cuando se hace clic en el botón
        $('#showPopupBtn').click(function() {
            Swal.fire({
                title: 'Información',
                html: `
                    <p>En esta sección, ...</p>
                    
                `,
                icon: 'info'
            });
        });
    </script>
{% endblock %}
