{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="{% static 'css/footers.css'%}">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <footer>
        <div class="container__footer">
            <div class="box__footer">
                <div class="logo">
                    <img src="{% static 'img/logoEstMini.png' %}" alt="">
                </div>
            </div>
            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="https://www.facebook.com/estadisticaseducativa.chaco"><i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="https://instagram.com/estadisticaeducativa?igshid=YmMyMTA2M2Y"><i class="fab fa-instagram-square"></i> Instagram</a>
            </div>            
        </div>
        <div class="box__copyright">
            <hr>
            <p>Todos los derechos reservados © 2023 - Desarrollo y mantenimiento: Edgardo Javier Gómez<b></b></p>
        </div>
    </footer>
</body>
</html>

