{% extends 'dashboard/body.html' %}

{% load static %}

{% block content %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{nvistaaborigen}}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css">
        <link rel="stylesheet" href="{% static 'css/docentes.css' %}">   

    </head>
    <body>    
        {% block content_header %}
            <div class="content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">  <small></small></h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="{% url 'dash:portada'%}">Regresar</a><li>                                    
                                    <li class="breadcrumb-item"><a href="{{ list_url }}">{{ entity }}</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
        {% endblock %} 
        <div class="container mt-4">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="caption">
                        <caption>
                            Reporte de matrícula en {{nvistamatricula}} - {{nrelevamiento}}
                        </caption>
                    </div>
                    
                    <div class="table-responsive">
                        <table id="datatable-cargos" class="table">                        
                            <thead>
                                <tr class="header-row">
                                    <th class="centered">CUEANEXO</th> 
                                    <th class="centered">ESCUELA</th>                                    
                                    <th class="centered">CEG</th>
                                    <th class="centered">DISM VIS</th>
                                    <th class="centered">SORD</th>
                                    <th class="centered">HIPOAC</th>
                                    <th class="centered">INTEL</th>
                                    <th class="centered">MOTORA</th>
                                    <th class="centered">NEUROM</th>
                                    <th class="centered">TEA</th>
                                    <th class="centered">REGION</th>
                                    <th class="centered">LOCALIDAD</th>                                                                    
                                </tr>
                                
                            </thead>
                            <tbody>
                                {% for item in datamatriccueanexo %}
                                    <tr>
                                        <td> {{ item.cueanexo }} </td>
                                        <td>{{ item.escuela }}</td>                                            
                                        <td>{{ item.ceguera }}</td> 
                                        <td>{{ item.dism_visual }}</td>    
                                        <td>{{ item.sordera }}</td>      
                                        <td>{{ item.hipoacusia }}</td>  
                                        <td>{{ item.intelectual }}</td>
                                        <td>{{ item.motora_pura }}</td> 
                                        <td>{{ item.neuromotora }}</td> 
                                        <td>{{ item.tea }}</td> 
                                        <td>{{ item.region_loc }}</td>
                                        <td>{{ item.localidad }}</td>               
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Total</th>
                                    <th></th>                                                                       
                                    <th id="total_ceguera"></th>
                                    <th id="total_dism_visual"></th>
                                    <th id="total_sordera"></th>
                                    <th id="total_hipoacusia"></th>
                                    <th id="total_intelectual"></th>
                                    <th id="total_motora_pura"></th>
                                    <th id="total_neuromotora"></th>
                                    <th id="total_tea"></th>                                    
                                    <th></th>                                                                   
                                </tr>
                            </tfoot>
                        </table>                        
                        
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src='https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js'></script>
        <script src='https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
        <!-- Lenguaje para los botones -->
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js"></script>
        
        
        <script>
            $(document).ready(function() {
                var dataTableOptions = {
                    responsive: true,
                    autoWidth:false,
                    columnDefs: [        
                        { className: "centered", targets: [0, 1] },
                        { orderable: true, targets: [0,10,11] },
                        { searchable: true, targets: [10,11] },
                        
                    ],
                    language: {
                            url: "https://cdn.datatables.net/plug-ins/2.0.3/i18n/es-AR.json" // Ruta al archivo de traducción en español
                        },      
                    dom: '<"top"lBf>rt<"bottom"ip>',
                    buttons: [
                            {
                                extend: 'excel',
                                text: '<i class="fas fa-file-excel"></i>',
                                className: 'btn btn-secondary',
                                exportOptions: {
                                    columns: ':visible'
                                },
                                titleAttr: 'Exportar a Excel',
                                title: 'Nombre_del_archivo'
                            },
                            {
                                extend: 'csv',
                                text: '<i class="fas fa-file-csv"></i>',
                                className: 'btn btn-secondary',
                                exportOptions: {
                                    columns: ':visible'
                                },
                                titleAttr: 'Exportar a CSV',
                                title: 'Nombre_del_archivo'
                            },
                            {
                                extend: 'pdf',
                                text: '<i class="fas fa-file-pdf"></i>',
                                className: 'btn btn-secondary',
                                exportOptions: {
                                    columns: ':visible'
                                },
                                titleAttr: 'Exportar a PDF',
                                title: 'Nombre_del_archivo'
                            },
                            {
                                extend: 'print',
                                text: '<i class="fas fa-print"></i>',
                                className: 'btn btn-secondary',
                                exportOptions: {
                                    columns: ':visible'
                                },
                                titleAttr: 'Imprimir',
                                title: 'Nombre_del_archivo'
                            }
                        ],
                    pageLength: 4,
                    destroy: true,
                    footerCallback: function (row, data, start, end, display) {
                        var api = this.api();

                        var intVal = function (i) {
                            return typeof i === 'string' ?
                                i.replace(/[\$,]/g, '') * 1 :
                                typeof i === 'number' ? i : 0;
                        };

                        // Índices de las columnas a sumar (de la 3 a la 9, que en DataTables son 2 a 8)
                        var columnsToSum = [2,3, 4, 5, 6, 7, 8, 9];
                        var totalValues = {};

                        columnsToSum.forEach(function(colIndex) {
                            totalValues[colIndex] = api
                                .column(colIndex, { page: 'all' })
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);
                        });

                        // Insertar los valores en el footer                        
                        $("#total_ceguera").html(totalValues[2]);
                        $("#total_dism_visual").html(totalValues[3]);
                        $("#total_sordera").html(totalValues[4]);
                        $("#total_hipoacusia").html(totalValues[5]);
                        $("#total_intelectual").html(totalValues[6]);
                        $("#total_motora_pura").html(totalValues[7]);
                        $("#total_neuromotora").html(totalValues[8]);
                        $("#total_tea").html(totalValues[9]);
                    }
                };

                $("#datatable-cargos").DataTable(dataTableOptions);
            });
        </script>
        
    </body>
{% endblock %}
