{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title%}Consultas{%endblock title%}
{% block page_tittle %}Consultas{% endblock page_tittle%}

{% block styles %}
   <!-- Custom styles for this page -->
   <link href="{% static 'dash/vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">
{% endblock styles %}

{% block sidebar %} {% include 'dash/sidebar.html' %} {%endblock sidebar %}
{% block topbar %}  {% include 'dash/topbar.html' %} {% endblock topbar %}

{% block content %}

<div class="content col-lg-12 mx-auto">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-10">
                    <h5 class="m-0 font-weight-bold text-primary">Lista de consultas</h5>
                </div>
            </div>
        </div>
        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Estado</th>
                            <th>Fecha</th>
                            <th>Usuario</th>
                            <th>Grupo</th>
                            <th>Asunto</th>
                            <th>Acciones</th>
                        </tr>
                    <thead>
                    <tbody>
                        {% for object in object_list %}
                        <tr>
                            <td>
                                {% if object.completado == True %}
                                1: Finalizado
                                {% else %}
                                0: Pendiente
                                {% endif %}
                            </td>
                            <td>{{ object.fecha |date:"d/m/Y H:i" }}</td>
                            <td>{{ object.usuario.last_name }}, {{ object.usuario.first_name }}</td>
                            <td>{{ object.usuario.groups.first }}</td>
                            <td>{{ object.tipo }}</td>
                            
                            <td>
                                <a name="" id="" class="btn btn-primary btn-sm" href="{% url 'usuarios:actualizar-reporte' object.id %}" role="button"><i class="fa fa-edit" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{% static 'dash/vendor/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'dash/vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'dash/js/demo/datatables-demo.js'%}"></script>

    <script> 

        aplicadorShow = document.getElementById('collapseUsuarios');
        aplicadorShow.classList.add('show');
      
        aplicadorActive = document.getElementById('listarUsuarios');
        aplicadorActive.classList.add('active');
      
    </script>
      
{% endblock scripts %}
