{% extends 'infra/layout.html' %}
{% load widget_tweaks %}
{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <!-- jQuery Confirm -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>
{% endblock %}

{% block content %}
    <form method="post" action="." enctype="multipart/form-data">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                        <i class="fas fa-plus"></i>
                    {% else %}
                        <i class="fas fa-edit"></i>
                    {% endif %}
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <!-- Botón para mostrar el popup en la fila superior -->
                <div class="form-group row">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-info" id="showPopupBtn">
                            <i class="fas fa-info-circle"></i> Información 
                        </button>
                    </div>
                </div>

                <!-- Campos del formulario -->
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="id_cueanexo">CUE Anexo:</label>
                        <input type="text" id="id_cueanexo" name="cueanexo" class="form-control" value="{{ cueanexo }}" style="width: 13ch; text-align: right;" readonly>
                    </div>                                                 
                </div>
                <div class="row mt-6">
                    <div class="col-md-4">
                        <label for="id_mes">MES:</label>
                        {{ form.mes|add_class:"form-control text-center"}}
                    </div>      
                    <div class="col-md-4">
                        <label for="id_anio">AÑO:</label>
                        {{ form.anio|add_class:"form-control text-center"}}
                    </div>                     
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <label for="id_dominio">DOMINIO:</label>
                        {{ form.dominio|add_class:"form-control text-center"}}
                    </div>
                    <div class="col-md-8">
                        <label for="id_plan_const">PLAN CONSTRUCCION:</label>
                        {{ form.plan_const|add_class:"form-control text-center" }}
                    </div>                   
                </div>
                <div class="row mt-4">
                     <div class="col-md-2">
                        <label for="id_ampliacion">AMPLICACION:</label>
                        {{ form.ampliacion|add_class:"form-control" }}
                    </div>
                    <div class="col-md-8">
                        <label for="id_plan_ampl" name="plan_ampl">PLAN AMPLIACION:</label>
                        {{ form.plan_ampl|add_class:"form-control" }}                        
                    </div>                   
                </div>
                <div class="row mt-4">                    
                    <div class="col-md-2">
                        <label for="id_sup_terreno">SUP. TERRENO:</label>
                        {{ form.sup_terreno|add_class:"form-control text-center" }}
                    </div>
                    <div class="col-md-2">
                        <label for="id_sup_cub">SUP. CUBIERTA:</label>
                        {{ form.sup_cub|add_class:"form-control text-center" }}
                    </div>                    
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fas fa-save"></i> Guardar registro
                </button>
                <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>

    <script>
        // Mostrar alerta con errores si existen
        {% if form.errors %}
            var errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                errors += '{{ error }}\n';
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
            });
        {% endif %}

        // Manejo de envío con AJAX
        $('form').on('submit', function (e) {
            e.preventDefault();            

            // Mostrar los valores que se están enviando en la consola
            var parameters = new FormData(this);
            for (var pair of parameters.entries()) {
                console.log(pair[0] + ': ' + pair[1]);
            }

            submit_with_ajax(window.location.pathname, 'Notificación', '¿Estás seguro de realizar la siguiente acción?', parameters, function () {
                location.href = '{{ list_url }}';
            });
        });

        // Asignar valor al campo cueanexo (si es necesario)
        document.getElementById("id_cueanexo").value = "{{ cueanexo }}";        

        // Mostrar el popup con la información cuando se hace clic en el botón
        $('#showPopupBtn').click(function() {
            Swal.fire({
                title: 'Información',
                html: `
                    <p>En esta sección, ...</p>
                `,
                icon: 'info'
            });
        });
    </script>
    
{% endblock %}


