{% extends 'archivos/base/layout.html' %}
{% load static %}

{% block title %}
Dashboard Indicadores
{% endblock %}


{% block content %}

<link
    rel="stylesheet"
    href="{% static 'indicators/dashboard.css' %}?v=18">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



<div class="dashboard-container">

    <div class="header">
        <h1>Indicadores Educativos</h1>
        <p>Motor de indicadores ministeriales</p>
    </div>

    <div class="filters-card">

        <div class="form-grid">

            <div class="form-group">
                <label>CUEANEXO</label>
                <input
                    type="text"
                    id="cueanexo"
                    placeholder="220134300">
            </div>

            <div class="form-group">
                <label>Nivel</label>
                <select id="nivel">
                    <option value="">Seleccione</option>
                    <option value="PRIMARIA">Primaria</option>
                    <option value="SECUNDARIA">Secundaria</option>
                    <option value="TECNICA">Técnica</option>
                </select>
            </div>

            <div
                class="form-group"
                id="orientacion-wrapper"
                style="display:none;">

                <label>Orientación</label>

                <select id="orientacion">
                    <option value="">
                        Seleccione
                    </option>
                </select>
            </div>

        </div>

        <button id="consultar-btn">
            Consultar
        </button>

    </div>

    <div id="dashboard-results">
        <div class="empty-state">
            Ingrese filtros y consulte indicadores
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'indicators/dashboard.js' %}?v=18"></script>
{% endblock %}