.centered{
    text-align: center;
    vertical-align: middle;
}
.caption{
    background-color: rgb(230, 6, 36); /* Color de fondo para el caption */
    color: hwb(144 97% 1%); /* Color del texto en el caption */
    font-size: 20px; /* Tamaño de letra para el caption */
    font-weight: bold; /* Texto en negrita en el caption */
    padding: 10px; /* Espaciado interno alrededor del texto del caption */
}
