{% extends 'dashboard/bodydirector.html' %}

{% load static %}

{% block content %}
    <style>
        .custom-dashboard {
            font-family: Arial, sans-serif;
        }
        .custom-dashboard h3 {
            text-align: center;
            font-weight: bold;
        }
        .custom-dashboard .content {
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
        .custom-dashboard .chart-container {
            border: 2px solid #ccc;
            border-radius: 15px;
            padding: 20px;
            margin: 20px;
            background-color: #f9f9f9;
            flex: 2;
        }
        .custom-dashboard .chart-container img {
            max-width: 100%;
            border-radius: 15px;
        }
        .custom-dashboard .stats-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 20px;
            flex: 1;
        }
        .custom-dashboard .card {
            background-color: #fff;
            border: 2px solid #ccc;
            border-radius: 10px;
            padding: 15px;
            margin-bottom: 15px;
            width: 100%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            position: relative;
        }
        .custom-dashboard .card p {
            font-size: 1.1em;
            font-weight: bold;
            text-align: justify; /* Alineación justificada */
        }
        .custom-dashboard .notification-card {
            font-size: 0.9em;
            font-weight: normal;
            text-align: justify; /* Alineación justificada */
        }
        .custom-dashboard .notification-icon {
            position: absolute;
            top: 5px;
            left: 5px;
            font-size: 2.5em;
            color: red; /* Color de la campana */
        }
        .custom-dashboard .check-icon {
            font-size: 1.5em;
            color: green; /* Cambio de color a verde */
            margin-left: 10px; /* Espacio entre el icono y el texto */
            vertical-align: middle; /* Alinear verticalmente con el texto */
        }
    </style>
    <div class="custom-dashboard">
        <h3>Gráfico de Desempeño de Fluidez Lectora - {{ escuela }}</h3>        
        <div class="content">
            <div class="chart-container">
                <img src="data:image/png;base64,{{ grafico }}" alt="Gráfico de Desempeño">
            </div>
            <div class="stats-container">
                <div class="card">
                    <p>Promedio de Puntaje: {{ promedio_puntaje }} <i class="fa fa-check check-icon"></i></p>
                </div>
                <div class="card">
                    <p>Total de Alumnos: {{ total_alumnos }} <i class="fa fa-check check-icon"></i></p>
                </div>
                <div class="card notification-card">
                    <i class="fa fa-comments notification-icon"></i>
                    <div style="margin-left: 40px;"> <!-- Separación del icono -->
                        <p>El Plan Somos Fluidez Lectora Chaco 2024-2027</p>
                        <p>El MECCyT agradece y felicita a toda la comunidad educativa de la provincia por el compromiso y responsabilidad en la aplicación de la muestra y censo del test de fluidez y comprensión lectora.</p>
                        <p>En este sentido, se solicita que en futuras ediciones, las unidades educativas se ajusten con rigurosidad al procedimiento establecido para reducir el margen de errores detectados y así garantizar la confiabilidad de los datos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
