{% extends 'dashboard/bodydirector.html' %}

{% block title %}Tasas de Retención{% endblock %}

{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div class="container">
    <h1>Tasas de Retención por Año</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ nom_est }}</h5>
                    <p class="card-text">Tasas de retención para los años 2022 y 2023</p>
                    <img src="data:image/png;base64,{{ grafico | safe }}" class="img-fluid" alt="Tasas de Retención">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
