{% extends 'dashboard/bodyevaluacion.html' %}
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evolución de Carga</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Evolución de Carga de Resultados</h1>
    <canvas id="barChart" width="400" height="200"></canvas>

    <script>
        // Datos enviados desde la vista
        const regions = {{ regions|safe }};
        const noCargados = {{ no_cargados|safe }};
        const cargados = {{ cargados|safe }};

        // Configuración del gráfico
        const ctx = document.getElementById('barChart').getContext('2d');
        const barChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: regions,  // Ejes X (nombres de las regiones)
                datasets: [
                    {
                        label: 'No Cargados',
                        data: noCargados,
                        backgroundColor: 'rgba(255, 0, 0, 1)',
                        borderColor: 'rgba(255, 0, 0, 1)',
                        borderWidth: 1
                    },
                    {
                        label: 'Cargados',
                        data: cargados,
                        backgroundColor: 'rgba(0, 128, 0, 1)',
                        borderColor: 'rgba(0, 128, 0, 1)',
                        borderWidth: 1
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>
{% endblock %}
